---
layout: 'base.njk'
---
<section class="global-container">
    <div class="art-container">
       <div class="row hero-art align-items-center">
           <div class="col-lg-1 feature-col"></div>
            <div class="col-lg-4 art-description-col feature-col">
                <h2 class="article-title">{{ title }}</h2>
                <p class="article-description">"{{ description }}"</p>
                <p>Painting: {{ dimension }}</p>
            </div>
            <div class="col-lg-7 art-image__col feature-col">
                <div class="img-magnifier-container">
                    <img id="myimage" class="art-image" src="{{ image }}" alt="{{ imageAlt }}">
                </div>
            </div>
        </div>
          <div class="art-content">
            {{ content | safe }}
        <a class="explore-more" href="/gallery"><i class="fas fa-long-arrow-alt-left fa-lg space"></i> Explore More</a>
        </div>
    </div>
    <script>
        if(document.getElementsByTagName("img")[0].offsetHeight > 700){
            document.getElementsByTagName("img")[0].style.width = "70%";
        }
    </script>
</section>
<footer>
    <div class="social-links"><a class="icon" href="https://www.instagram.com/reb_artist/" target="_blank" rel="noopener noreferrer"><img src="../../assets/fontawesome/instagram-brands.svg" alt="instagram icon"></a></div>
    <p> &copy 2022 Rebel Art. All rights reserved
    </p>
</footer>