---
layout: 'base.njk'
---
<section class="global-container">
    <div class="art-container">
       <div class="row hero-art align-items-center">
           <div class="col-xl-1 feature-col"></div>
            <div class="col-xl-4 art-description-col feature-col">
                <h2 class="article-title">{{ title }}</h2>
                <p class="article-description">{{ description }}</p>
            </div>
            <div class="col-xl-7 art-image__col feature-col">
                <img class="art-image" src="{{ image }}" alt="{{ imageAlt }}">
            </div>
        </div>
          <div class="art-content">
            {{ content | safe }}
        <a class="explore-more" href="/gallery"><i class="fas fa-long-arrow-alt-left fa-lg space"></i> Explore More</a>
        </div>
    </div>
    <script>
        if(document.getElementsByTagName("img")[0].offsetHeight > 700){
            console.log("hello world")
            document.getElementsByTagName("img")[0].style.width = "70%";
        }
        
    </script>
</section>