<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="{{ metatitle }}" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="{{ oglocale }}" />
  <meta name="description" content="{{ description }}" />
  <meta property="og:title" content="{{ ogtitle }}" />
  <meta property="og:site_name" content="karatronics" />
  <meta property="og:description" content="{{ ogdescription }}" />
  <meta property="og:url" content="{{ ogurl }}" />
  <meta property="og:image" content="/images/logos/logo_meta.webp" />
  <meta name="google-site-verification" content="eI7rCIy12oOLS-wYKVT26ZDkwZoTwQF5FWbCQ3FuxCs" />
  <link rel="canonical" href="{{ canonical }}" />
  <link rel="apple-touch-icon" href="/images/logos/logo_cropped_192.png" />
  <link rel="icon" href="/images/logos/logo_cropped_192.png" sizes="192x192" />
  <link rel="icon" href="/images/logos/logo_cropped_96.png" sizes="96x96" />
  <link rel="icon" href="/images/logos/logo_cropped_64.png" sizes="64x64" />
  <link rel="icon" href="/images/logos/logo_cropped_32.png" sizes="32x32" />
  <link rel="icon" href="/images/logos/logo_cropped_16.png" sizes="16x16" />
  <link rel="shortcut icon" href="/images/logos/fav.icon" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/images/logos/fav.icon" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="{{ style }}" />
  <title>{{ title }}</title>
</head>
<body>
  <header>
  {# {% include 'navbar.njk' %} #}
  </header>
  <main>
            {{ content | safe}}
  </main>
  </body>
</html>