<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="{{ metatitle }}" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_GB" />
  <meta name="description" content="{{ description }}" />
  <meta property="og:title" content="{{ ogtitle }}" />
  <meta property="og:site_name" content="karatronics" />
  <meta property="og:description" content="{{ ogdescription }}" />
  <meta property="og:url" content="{{ ogurl }}" />
  <meta property="og:image" content="/assets/logo/logo.png" />
  <link rel="canonical" href="{{ canonical }}" />
  <link rel="apple-touch-icon" href="/assets/logo/logo.png" />
  <link rel="icon" href="/assets/logo/logo.png" sizes="192x192" />
  <link rel="icon" href="/assets/logo/logo.png" sizes="96x96" />
  <link rel="icon" href="/assets/logo/logo.png" sizes="64x64" />
  <link rel="icon" href="/assets/logo/logo.png" sizes="32x32" />
  <link rel="icon" href="/assets/logo/logo.png" sizes="16x16" />
  <link rel="shortcut icon" href="/assets/logo/fav.icon" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/assets/logo/fav.icon" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="{{ style }}" />
  <title>{{ title }}</title>
</head>

<body>
  <header>
    {# {% include 'navbar.njk' %} #}
  </header>
  <div class="page-transition">
    <div class="transition-overlay1">
    </div>
    <div class="transition-overlay2">
    </div>
  </div>
  <main>
    {{ content | safe}}
  </main>
  <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      const overlay1 = document.querySelector('.transition-overlay1');
      const overlay2 = document.querySelector('.transition-overlay2');
      let duration = 1;
      if (window.innerWidth > 800) {
        duration = 1;
      }
      // const currentPath = window.location.pathname;
      // if (currentPath === "/" || currentPath === "/personaldienstleistung-frankfurt" || currentPath === "/personaldienstleistung-memmingen" || currentPath === "/karriere/lagermitarbeiter-flughafen-leipzig" || currentPath === "/karriere/sicherheitsmitarbeiter-flughafen-frankfurt") {
      //   overlay2.style.display = 'none';
      // }  
      // else {
      gsap.to(overlay2, {
        duration: duration + 0.6,
        width: 0,
        ease: 'power2.out',
      });
      // }

      document.querySelectorAll('a').forEach(link => {
        link.addEventListener('click', (e) => {
          e.preventDefault();
          const url = e.currentTarget.href;
          gsap.to(overlay1, {
            duration: duration,
            width: '100%',
            ease: 'power2.out',
            onStart: () => { },
            onComplete: () => {
              window.location.href = url;
            }
          });
        });
      });
      
    });
  </script>
</body>

</html>