<div class="social-links"><a class="icon" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><img src="../assets/fontawesome/instagram-brands.svg" alt="instagram icon"></a></div>
<p> &copy 2022 Rebel Art. All rights reserved
</p>