<footer>
    <div>
        <h3>Links</h3>
        <a href="/">home</a>
        <a href="/">gallery</a>
        <a href="/">poster</a>
        <a href="/">about</a>


    </div>
    <div>
        <h3>Legal</h3>
        <a href="/legalnotice">legal notice</a>
        <a href="/privacypolicy">privacy policy</a>
    </div>
    <p> &copy 2024 Rebels Art. All rights reserved.
    </p>
</footer>