<footer>
<div class="social-links"><a class="icon" href="https://www.instagram.com/reb_artist/" target="_blank" rel="noopener noreferrer"><img src="../assets/fontawesome/instagram-brands.svg" alt="instagram icon"></a></div>
<p> &copy 2022 Rebels Art. All rights reserved.
</p>
<a href="/">home</a>
<a href="/privacypolicy">privacy policy</a>
<a href="/legalnotice">legal notice</a>
</footer>