      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">home</a>
          <button id="toggle-btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" onclick="navbarCollapse()">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div id="navbar-nav" class="navbar-nav align-items-center">
              <a class="nav-link active" href="/gallery">gallery</a>
              <a class="nav-link active" href="/about">about</a>
            </div>
          </div>
        </div>
      </nav>