
body{
    background: #070707;
    color: white;
}

footer{
    min-height: 80px;
    text-align: center;
    margin: 2.5% 0 2.5%;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;

}
.icon{
    color:#007A78;
}
.icon:hover{
    color:whitesmoke;
    text-decoration: none;
    transform: scale(1.05);
}

@media (max-width: 620px) {
    footer{
        margin: 2.5% 0 10%;
    }
    .social-links{
        margin-bottom: 4%;
    }
    .icon{
        margin: 2.5% 2.5%;
    }
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}

p, a{
    font-family: 'Ubuntu', sans-serif;
}



.navbar{
    background-color: #070707;
    max-width: 1920px;
    margin: auto;
}


.navbar-collaps{
    max-height: 100%;
}

.navbar-collapse .collapse .show{
    display: inline-block;
    float: none;
    vertical-align: top;
    overflow: hidden;
}

.show > .navbar-nav {
    height: 100vh;
}

.show > .navbar-nav > .nav-link{
    margin-top: .75em;
    font-size: larger;
    border-bottom: 1px solid white;
}

.navbar-nav{
    text-align: center;  
}
.nav-link{
    margin-left: .75em;
    margin-right: .75em;
    color:white;
    font-size: large;
    
}
.nav-link:hover{
    color: #ccc;
    transform: scale(1.1);
}
.navbar-brand {
    color: white;
}

.navbar-toggler{
    height: 60px;
}

label{
    display:flex;
     flex-direction:column;
     width:40px;
     cursor:pointer;
   }
   
   label span{
     background: #fff;
     height:3px;
     margin: 7px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }

   span:nth-of-type(1){
     width:50%;
     margin-left: auto;
     
   }
   
   span:nth-of-type(2){
     width:100%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
     margin-left: auto;
    
   }

   input[type="checkbox"]{
     display:none;
     -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(1){
     width: 100%;
     transform-origin:bottom;
     transform:rotatez(45deg) translate(12px, 10.5px); 
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
     visibility: hidden;
   
   }

   

.container-layout{
    max-width: 1920px;
    margin: auto;
}


/*************** HOME ****************/

/**** Hero****/





/**** GOTO****/

.container-feature{
    padding: 4% 10%;
    margin: auto;
}

.image-overlay__left{
    height: 100%;
    width: 10%;
    position:absolute;
    z-index:100;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8379726890756303) 100%);
}

.image-overlay__right{
    height: 100%;
    width: 10%;
    position:absolute;
    z-index:100;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,0.8911939775910365) 0%, rgba(255,255,255,0) 100%);   
    right:15px;
}

.featured-image{
    width: 100%;
}

.feature-description p{
    font-size: 16px;
    font-weight: 200;
    line-height: 1.8;
}

.feature-description h2{
    font-size: 60px;
    font-weight: 900;
    line-height: 1.1;
}

.featured-image__container{
    max-width: 868.81px !important;
}

.right-feature__desc{
    text-align: left;
}

.left-feature__desc{
    text-align: right;
}

.feature-link{
    line-height: 70px;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid whitesmoke;

}

.feature-link:hover{
    text-decoration: none;
    color: #ccc;
    border-bottom: 1px solid #ccc;

}

.space-right{
    padding-right: 3%;
}

.space-left{
    padding-left: 3%;
}



@media (min-width: 1040px) and (max-width: 1244px ){
    .container-feature{
        padding: 4% 0;
    }
    .row{
        margin-bottom: 10%;
    }
    .featured-image{
        width: 100%;
    }
    .right-image{
        margin-left: 0;
    }

    .right-feature__desc{
        text-align: left;
        padding-right: 2%;
    }

    .left-feature__desc{
        padding-left: 2%;
    }

}

@media (min-width: 992px) and (max-width: 1039px ){
    .right-feature__desc{
        text-align: left;
    }
}


@media (max-width: 1039px) {

    .container-feature{
        padding: 2% 4% 8%;
    }

    .col-lg-8{
        max-width: 100% !important;
    }
    
    .container-feature > .row > .col-lg-4{
        padding: 0;
        max-width: 95% !important;
    }

    .featured-image__container{
        padding: 0;
    }

    .need-reverse{
        display: flex;
        flex-flow: column-reverse;
    }

    .image-overlay__left{
        bottom: 0;
        height: 10%;
        width: 100%;
        position:absolute;
        z-index:100;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.9331827731092436) 0%, rgba(255,255,255,0) 100%);    
    }

    .image-overlay__right{
        bottom: 0;
        height: 10%;
        width: 100%;
        position:absolute;
        z-index:100;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.9331827731092436) 0%, rgba(255,255,255,0) 100%);    
        right: 0;
    }

    .featured-image{
        width: 100%;
    }
    .featured-image__container{
        margin-bottom: 10px;
    }
    .right-image{
        margin-left: 0;
    }

    .left-feature__desc{
        text-align: left;
    }

    .right-feature__desc{
        text-align: right;
        padding-left: 7%;
    }

    .feature-description p{
        font-size: 16px;
        font-weight: 200;
        line-height: 1.8;
    }
    
    .feature-description h2{
        font-size: 40px;
        font-weight: 900;
        line-height: 1.2;
    }
    .row {
        margin-bottom: 10%;
    }
    
}


/*************** GALLERY ****************/



.hero-gallery{
    padding: 5%;
}

.gallery-image{
    width: 100%;
}

.image-container{
    padding:1.5%;
}

@media (max-width: 767px) {
    .hero-gallery{
        padding-top: 10%;
    }
}

@media (max-width: 565px) {
    .hero-gallery{
        padding-top: 20%;
    }
    
}

/*************** ART POST ****************/


.art-image{
    width: 100%;
}

.art-container{
    margin-top: 3%;
    padding: 5% 10%;
}

.art-content{
    margin: 6% auto 0 auto;
    max-width: 720px;

}

.art-image__col{
}

.art-description-col{
    max-width: 500px;
    text-align: right;
}

.art-description-col h2{
    font-weight: 600;
    font-size: 35px;
    line-height: 1.5;
}

.art-container p{
    font-weight: 300;
    line-height: 1.7;
    font-size: 17px;
}

.explore-more{
    color:whitesmoke;

}

.explore-more:hover{
    color:#ccc;
    text-decoration: none;
}

.space{
    padding-right: 1%;

}


@media (max-width:1199px){
    .art-container{
        margin-top: 0;
    }
    .hero-art{
        display: flex;
        flex-flow: column-reverse;
    }
    .art-image__col{
        width: 75%;
        text-align:center;
        margin-bottom: 10px;
    }

    .art-description-col{
        max-width: 75%;
        text-align: left;
    }
}

@media (max-width:1040px){
    .art-container{
        margin-top: 10%;
    }
    .art-image__col{
        width: 100%;
        text-align:center;
    }
    .art-description-col{
        max-width: 100%;
        text-align: left;
    }
}

@media (max-width:599px){
    .art-container{
        margin-top: 20%;
        padding: 4%;
    }

}


/*************** ABOUT ****************/

.about-container {
    min-height: 70vh;
    margin:auto;
    padding: 8% 10% 2% 10%;
}

.about-desc{
    margin-top: 5%;
}

.left-about__col{
    text-align: right;

}

.right-about__col{
    margin-top: 8%;
}

.seperator{
    margin: auto;
    height: 100%;
    width: 1%;
    border-right: 1px solid whitesmoke;
}

.about__col{
    padding: 0;
}

.about-container p{
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
}

.about-container h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;

}

.typewriter{
    word-spacing: 1px;
    margin: auto;
    font-family: 'Ubuntu Mono', monospace;
    position:relative;
    width: max-content;
}

.typewriter::before,
.typewriter::after{
    content:"";
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.typewriter::before{
    background:#070707;
    animation: typewriting 4s steps(28) 1s forwards;
}

.typewriter::after{
    width: 0.1em;
    background-color: whitesmoke;
    animation:
    typewriting 4s steps(28) 1s forwards,
    blink 800ms steps(28) infinite; 

}

@keyframes typewriting{
    to {left: 100%}
}

@keyframes blink{
    to {
        background: transparent;
    }
}


.contact-us{
    text-align: center;
    padding-top: 8%;
    min-height: 350px;
    margin-bottom: 3%;
}
.contact-us> h5{
    margin-bottom: 10px;
}

.contact-card{
    display: flex;
    flex-direction: column;
    margin-top: 70px !important;
    align-items: center;
    padding: 2%;
    margin:auto;
    width: 25em;
    height: 15em;
    background: rgba( 0, 122, 120, 0.4 );
    box-shadow: 0 8px 32px 0 rgba(0, 122, 120, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
    opacity: 1;
}

.contact-card p{
    text-decoration: underline;
    color: #FFDC4A;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.5px;
}

.contact-card a{
    display: inline-block;
    color: #FFDC4A;
    line-height: 2.5;
    font-size: 18px;
}

.contact-card a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #FFC23C;

}


@media (max-width:992px){


    .about-container{
        padding-top: 20%;
    }

    .seperator{
        margin-top: 8%;
        margin-bottom: 4%;
        height: 1%;
        width: 30%;
        border-bottom: 1px solid whitesmoke;
    }

    .contact-seperator{
        margin: auto;
        margin-top: 3.5%;
        height: 1%;
        width: 70%;
        border-top: 1px solid whitesmoke;
    }
}

@media (max-width: 620px){

    .typewriter{
        font-size: 24px !important;
    }

    .about-container h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 1.5;
    }
    .left-about__col{
        text-align: left;
    }
    .contact-us> a{
        font-size: 18px;
        line-height: 2;
    }
}


@media (max-width: 400px){

    .typewriter{
        margin-top: 30px;
        font-size: 20px !important;
    }
    .contact-card{
        margin-left:-20px;
        width: 21em ;
        height: 13em ;

    }

.contact-card p{
    text-decoration: underline;
    color: #FFDC4A;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1.5px;
}

.contact-card a{
    display: inline-block;
    color: #FFDC4A;
    line-height: 2.5;
    font-size: 18px;
}

.contact-card a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #FFC23C;

}
}