
body{
    background: rgb(23,23,23);
    background: radial-gradient(circle, rgb(17, 17, 17) 0%, rgb(0, 0, 0) 100%);
    color: white;
}

footer{
    height: 100px;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}

.container-fluid{
    padding: 0 5%;    
}

.navbar{
    background-color: #131313;
}

.navbar-nav{
    float:right;
}

.nav-link{
    margin-left: 1.5em;
}

/*************** HOME ****************/



#welcome{
height: 100vh;
}

.welcome-hero{
    height: 85vh;
    background-color: burlywood;
}

.container-feature{
    padding: 3% 10%;
}

.featured-image{
    width: 90%;
    
}
.feature-description{

}


.first-feature-desc, .third-feature-desc{
    text-align: right;
}


/*************** GALLERY ****************/





.hero-gallery{
    height: 10vh;
}

.gallery-image{
    width: 100%;
}

.image-container{
    padding: 2%;
}


/*************** ART POST ****************/


.art-image{
    width: 70%;
}

.art-container{
    margin-top: 10%;
}

.art-content{
    margin: 10% auto 0 auto;
    padding:0 12%;

}