* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #090909;
    color: white;
    overflow-x: hidden;
    font-family: 'Titillium';
}
a{
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: 'Titillium';
    src: url('fonts/Titillium/TitilliumWeb-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Titillium';
    src: url('fonts/Titillium/TitilliumWeb-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Titillium';
    src: url('fonts/Titillium/TitilliumWeb-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Titillium';
    src: url('fonts/Titillium/TitilliumWeb-Light.ttf');
    font-weight: 300;
}
@media screen and (min-width: 1024px) {
    .hero{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: cente  r;
        justify-content: center;
    }
    .hero-inner{
        margin: auto;
        width: 80vw;
        height: 80vh;        
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1{
        width: fit-content;
        margin: auto;
        font-size: 120px;
    }
    .loteos{
        position: absolute;
        width: 1000px;
        right: 10vh;
        top: -5vh;
    }
}