---
layout: base.njk
title: ""
metatitle: ""
description: ""
ogtitle: ""
ogdescription: ""
ogurl: ""
canonical: ""
style: "/css/masonry.css"
---
<section class="hero-image">
    <h1>Musicians Art</h1>
</section>
<section class="image-section">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
        <div class="grid-item">
            <picture>
                <source media="(min-width:433px)" srcset="/assets/musicians/bassist_tablet.webp" type="image/webp"
                    width="368" height="553">
                <source media="(min-width:420px)" srcset="/assets/musicians/bassist_mobile.webp" type="image/webp"
                    width="420" height="632">
                <source media="(min-width:400px)" srcset="/assets/musicians/bassist_mobile.webp" type="image/webp"
                    width="400" height="602">
                <source media="(min-width:375px)" srcset="/assets/musicians/bassist_mobile.webp" type="image/webp"
                    width="375.2" height="564">
                <source media="(min-width:350px)" srcset="/assets/musicians/bassist_mobile.webp" type="image/webp"
                    width="350.4" height="526">
                <source media="(min-width:325px)" srcset="/assets/musicians/bassist_mobile.webp" type="image/webp"
                    width="325.5" height="489">
                <img loading="lazy" width="300" height="451" src="/assets/musicians/bassist_mobile.webp"
                    alt="Bullshit No. 1">
            </picture>
        </div>
        <div class="grid-item">
            <picture>
                <source media="(min-width:433px)" srcset="/assets/musicians/cellist_tablet.webp" type="image/webp"
                    width="368" height="553">
                <source media="(min-width:420px)" srcset="/assets/musicians/cellist_mobile.webp" type="image/webp"
                    width="420" height="632">
                <source media="(min-width:400px)" srcset="/assets/musicians/cellist_mobile.webp" type="image/webp"
                    width="400" height="602">
                <source media="(min-width:375px)" srcset="/assets/musicians/cellist_mobile.webp" type="image/webp"
                    width="375.2" height="564">
                <source media="(min-width:350px)" srcset="/assets/musicians/cellist_mobile.webp" type="image/webp"
                    width="350.4" height="526">
                <source media="(min-width:325px)" srcset="/assets/musicians/cellist_mobile.webp" type="image/webp"
                    width="325.5" height="489">
                <img loading="lazy" width="300" height="451" src="/assets/musicians/cellist_mobile.webp"
                    alt="cellist musicians">
            </picture>
        </div>
        <div class="grid-item">
            <picture>
                <source media="(min-width:433px)" srcset="/assets/musicians/drummer_tablet.webp" type="image/webp"
                    width="368" height="553">
                <source media="(min-width:420px)" srcset="/assets/musicians/drummer_mobile.webp" type="image/webp"
                    width="420" height="632">
                <source media="(min-width:400px)" srcset="/assets/musicians/drummer_mobile.webp" type="image/webp"
                    width="400" height="602">
                <source media="(min-width:375px)" srcset="/assets/musicians/drummer_mobile.webp" type="image/webp"
                    width="375.2" height="564">
                <source media="(min-width:350px)" srcset="/assets/musicians/drummer_mobile.webp" type="image/webp"
                    width="350.4" height="526">
                <source media="(min-width:325px)" srcset="/assets/musicians/drummer_mobile.webp" type="image/webp"
                    width="325.5" height="489">
                <img loading="lazy" width="300" height="451" src="/assets/musicians/drummer_mobile.webp"
                    alt="drummer musicians">
            </picture>
        </div>
        <div class="grid-item">
            <picture>
                <source media="(min-width:433px)" srcset="/assets/musicians/keyboardist_tablet.webp" type="image/webp"
                    width="368" height="553">
                <source media="(min-width:420px)" srcset="/assets/musicians/keyboardist_mobile.webp" type="image/webp"
                    width="420" height="632">
                <source media="(min-width:400px)" srcset="/assets/musicians/keyboardist_mobile.webp" type="image/webp"
                    width="400" height="602">
                <source media="(min-width:375px)" srcset="/assets/musicians/keyboardist_mobile.webp" type="image/webp"
                    width="375.2" height="564">
                <source media="(min-width:350px)" srcset="/assets/musicians/keyboardist_mobile.webp" type="image/webp"
                    width="350.4" height="526">
                <source media="(min-width:325px)" srcset="/assets/musicians/keyboardist_mobile.webp" type="image/webp"
                    width="325.5" height="489">
                <img loading="lazy" width="300" height="451" src="/assets/musicians/keyboardist_mobile.webp"
                    alt="keyboardist musicians">
            </picture>
        </div>
        <div class="grid-item">
            <picture>
                <source media="(min-width:433px)" srcset="/assets/musicians/pianist_tablet.webp" type="image/webp"
                    width="368" height="553">
                <source media="(min-width:420px)" srcset="/assets/musicians/pianist_mobile.webp" type="image/webp"
                    width="420" height="632">
                <source media="(min-width:400px)" srcset="/assets/musicians/pianist_mobile.webp" type="image/webp"
                    width="400" height="602">
                <source media="(min-width:375px)" srcset="/assets/musicians/pianist_mobile.webp" type="image/webp"
                    width="375.2" height="564">
                <source media="(min-width:350px)" srcset="/assets/musicians/pianist_mobile.webp" type="image/webp"
                    width="350.4" height="526">
                <source media="(min-width:325px)" srcset="/assets/musicians/pianist_mobile.webp" type="image/webp"
                    width="325.5" height="489">
                <img loading="lazy" width="300" height="451" src="/assets/musicians/pianist_mobile.webp"
                    alt="Promising Day">
            </picture>
        </div>
        <div class="grid-item">
            <picture>
                <source media="(min-width:433px)" srcset="/assets/musicians/guitarist_tablet.webp" type="image/webp"
                    width="368" height="553">
                <source media="(min-width:420px)" srcset="/assets/musicians/guitarist_mobile.webp" type="image/webp"
                    width="420" height="632">
                <source media="(min-width:400px)" srcset="/assets/musicians/guitarist_mobile.webp" type="image/webp"
                    width="400" height="602">
                <source media="(min-width:375px)" srcset="/assets/musicians/guitarist_mobile.webp" type="image/webp"
                    width="375.2" height="564">
                <source media="(min-width:350px)" srcset="/assets/musicians/guitarist_mobile.webp" type="image/webp"
                    width="350.4" height="526">
                <source media="(min-width:325px)" srcset="/assets/musicians/guitarist_mobile.webp" type="image/webp"
                    width="325.5" height="489">
                <img loading="lazy" width="300" height="451" src="/assets/musicians/guitarist_mobile.webp"
                    alt="Promising Day">
            </picture>
        </div>
                <div class="grid-item">
            <picture>
                <source media="(min-width:433px)" srcset="/assets/musicians/rapper_tablet.webp" type="image/webp"
                    width="368" height="553">
                <source media="(min-width:420px)" srcset="/assets/musicians/rapper_mobile.webp" type="image/webp"
                    width="420" height="632">
                <source media="(min-width:400px)" srcset="/assets/musicians/rapper_mobile.webp" type="image/webp"
                    width="400" height="602">
                <source media="(min-width:375px)" srcset="/assets/musicians/rapper_mobile.webp" type="image/webp"
                    width="375.2" height="564">
                <source media="(min-width:350px)" srcset="/assets/musicians/rapper_mobile.webp" type="image/webp"
                    width="350.4" height="526">
                <source media="(min-width:325px)" srcset="/assets/musicians/rapper_mobile.webp" type="image/webp"
                    width="325.5" height="489">
                <img loading="lazy" width="300" height="451" src="/assets/musicians/rapper_mobile.webp"
                    alt="Promising Day">
            </picture>
        </div>
    </div>
</section>
<section class="backhome">
    <a href="/gallery">Gallery</a>
    <a href="/gallery/more">More</a>
    </section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<script>
    if(window.innerWidth > 800){
    var grid = document.querySelector('.grid');
    var msnry = new Masonry(grid, {
        itemSelector: '.grid-item',
        columnWidth: 200
    });

  jQuery(document)
  .ready(function ($) {
        $(document).on("click", function (e) {
            if(e.target.localName == "img"){
                var thiselement = e.target.parentElement.parentElement;
                if (thiselement.className == "grid-item") {
                    openImage(thiselement, false)
                } else {
                    openImage(thiselement, true);
                }
            }
            else {
                $("body").removeClass("overflow-hidden");
                $(".show-image").removeClass("overflow-hidden");
                $(".show-image").removeClass("visibility-show");
                if ($(".show-img").hasClass("horizontal-img")) {
                    $(".show-img").removeClass("horizontal-img");
                }
            }
        });
        function openImage(thiselement, horizontal) {
            $("body").addClass("overflow-hidden")
            $(".show-image").addClass("visibility-show");
            $(".show-image").css({ top: $(window).scrollTop() })
            var imgsrc = thiselement.children[0].children[0].srcset;
            console.log(thiselement)
            $(".show-img").attr("src", imgsrc);
            if (horizontal) {
                $(".show-img").addClass("horizontal-img");
                if (window.innerWidth > 1440) {
                    $(".show-inner").css({ maxWidth: 1200 })
                }
            }
        }
    });
    }
</script>