body{
    background-color: #030303;
    color: white;
}

h1{
    font-family: "Londrina Shadow", cursive;
    font-weight: 900;
    font-size: 1.6em;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

h2,h3,h4,h5,h6{
    font-family: "Raleway", sans-serif;
}

a, p, li{
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    line-height: 1.8;
    color: white;
}

img{
    width: 100%;
}

.global-container{
    max-width: 1400px;
    padding: 0 0.75em;
    margin: auto;
}

.nopadding{
    padding: 0;
}

.row{
    margin: 0;
}
.col{
    padding: 0;
}
.navbar a{
    padding-top: 0.5em;
    display: inline-block;
}

.navbar a:hover{
   transform: scale(1.1);
   padding-top: 0.5em;
}
  
.nav-link{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

footer{
    margin-top: 4em;
    padding: 1.4em;
    text-align: center;
}

.icon{
    color:rgba( 0, 122, 120 );
}

footer p{
    color: rgba( 0, 122, 120 );
}

h2{
    font-weight: 900;
    line-height: 1.4;
}


/** HERO **/

*
{box-sizing: border-box;
    margin: 0;
	padding: 0;
}

.snap-container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    scroll-snap-stop: always;
}

.snap-container a{
        font-weight: 800;
        font-family: "Raleway", sans-serif;
        font-size: 19px;
        line-height: 1.8;
        color: white;
        letter-spacing: 1px;
        border-bottom: 2px solid #fafafa;
        padding-bottom:5px;
        text-decoration: none;
        display: inline-block;
}

.snap-container a:hover{
    transform: scale(1.05)
}

.snap-container > section{
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;  
    align-items: center;
    margin: 0;
	padding: 0;
}

.snap-container > section:nth-child(1){
    min-height: 100vh;
}

.snap-container > section:nth-child(2),
 .snap-container > section:nth-child(2) p{
    background-color: #1B365C;
    color: #9ECBF7;
}
.snap-container > section:nth-child(3),
 .snap-container > section:nth-child(3) p{
    background-color: rgba( 0, 122, 120 );
    color: #FFC745;
}


.snap-container > section:nth-child(4){
    min-height: 120vh;
}

.index-footer{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5em;
}

.hero-image{
    width: 100%;
}
.flex-container{
    display: flex;
    flex-direction: column-reverse;
}

.captions-col{
    padding: 0.25em;
    display: flex;
    flex-direction: column;
}
    
.image-col{
    display: flex;
    justify-content: center;
}

.layers{
    position: relative;
    width: 220px;
    height: 310px;
}

.layers img{
    position: absolute;
    transition: all ease 1200ms;
    transform-style: preserve-3d;
}

.layers img:nth-child(2),.layers img:nth-child(3){
    opacity: 0;
}

.layers:hover img:nth-child(3){
    transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
    translateX(-80px) translateY(0) translateZ(0); 
    opacity: 0.8;
}
.layers:hover img:nth-child(2){
    transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
    translateX(20px) translateY(0px) translateZ(0);
    opacity: 0.7;
}

.layers:hover img:nth-child(1){
    transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
    translateX(120px) translateY(0) translateZ(0);
}


/* FEATURE */
.featured-image__container{
    text-align: center;
    padding: 0;
}


.feature-description{
    margin-bottom: 1em;
}



/** GALLERY **/


.hero-gallery{
    margin-top: 4em;
}

.image-container{
    padding: 0.25em 0;
} 
.gallery-title{
    font-weight: 800;
    text-align: center;
    padding: 1em 3em;
}


/** ART WORK **/
.art-container{
    padding-top: 6em;
} 

.art-content{
    margin: auto;
    margin-top: 5em;
    max-width: 768px;
}

.explore-more{
    margin-top: 2em;
    display: inline-block;
}

.explore-more:hover{
    color:white;
    transform: scale(1.05)
}
.art-image__col{
    text-align: center;
}

/* ABOUT */

#about{
    min-height: 80vh;
}

.about-container{
    padding-top:5em;
}

.about-desc{
    max-width: 767px;
}

.typewriter{
    word-spacing: 1px;
    font-family: 'Ubuntu Mono', serif;
    position:relative;
    width: max-content;
    flex-wrap: nowrap;
}

.typewriter::before,
.typewriter::after{
    content:"";
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.typewriter::before{
    background:rgba( 0, 122, 120);
    animation: typewriting 4s steps(23) 1s forwards;
}

.typewriter::after{
    width: 0.05em;
    background-color: whitesmoke;
    animation:
    typewriting 4s steps(23) 1s forwards,
    blink 800ms steps(23) infinite; 

}

@keyframes typewriting{
    to {left: 100%}
}

@keyframes blink{
    to {
        background: transparent;
    }
}

.contact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 2%;
    width: 22em;
    height: 12em;
    background: rgba( 0, 122, 120 );
    box-shadow: 0 8px 32px 0 rgba(0, 122, 120, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 6px;
}


.contact-card a{
    display: inline-block;
    color: #FFC745;
    line-height: 1.5;
    font-size: 22px;
}

.contact-card a:hover{
    text-decoration: none;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    padding: 4px;
}

@media (max-width: 400px){

    .contact-card{
    width: 18em !important;
    height: 10em !important;
    }
    .contact-card a{
        font-size: 19px !important;
    }
}

@media (min-width: 450px){

    .layers{
        position: relative;
        width: 270px;
        height: 370px;
    }
    .layers img:nth-child(2),.layers img:nth-child(3){
        opacity: 0;
    }
    .layers:hover img:nth-child(3){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-70px) translateY(0) translateZ(0); 
        opacity: 0.8;
    }
    .layers:hover img:nth-child(2){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(30px) translateY(0px) translateZ(0);
        opacity: 0.7;
    }
    .layers:hover img:nth-child(1){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(130px) translateY(0) translateZ(0);
    }
}

@media (min-width: 525px){
    .layers{
        position: relative;
        width: 300px;
        height: 420px;
    }
    .layers img:nth-child(2),.layers img:nth-child(3){
        opacity: 0;
    }
    .layers:hover img:nth-child(3){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-80px) translateY(0) translateZ(0); 
        opacity: 0.8;
    }
    .layers:hover img:nth-child(2){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(30px) translateY(0px) translateZ(0);
        opacity: 0.7;
    }
    .layers:hover img:nth-child(1){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(140px) translateY(0) translateZ(0);
    }
}


@media (min-width: 600px){
    .layers{
        position: relative;
        width: 340px;
        height: 480px;
    }
    .layers img:nth-child(2),.layers img:nth-child(3){
        opacity: 0;
    }
    .layers:hover img:nth-child(3){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-90px) translateY(0) translateZ(0); 
        opacity: 0.8;
    }
    .layers:hover img:nth-child(2){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(40px) translateY(0px) translateZ(0);
        opacity: 0.7;
    }
    .layers:hover img:nth-child(1){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(150px) translateY(0) translateZ(0);
    }
}



@media (min-width: 768px){
    h1{
        font-size: 2em;
    }
    p{
        font-size: 18px;
    }
    .global-container{
        padding: 0 1.5em;
    }
    .image-container{
        padding: 0.25em;
    }
    .layers{
        position: relative;
        width: 370px;
        height: 510px;
    }
    .layers img:nth-child(2),.layers img:nth-child(3){
        opacity: 0;
    }
    .layers:hover img:nth-child(3){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-120px) translateY(0) translateZ(0); 
        opacity: 0.8;
    }
    .layers:hover img:nth-child(2){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(50px) translateY(0px) translateZ(0);
        opacity: 0.7;
    }
    .layers:hover img:nth-child(1){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(180px) translateY(0) translateZ(0);
    }
}

@media (max-width: 991px){
    .nav-link{
        font-size: 1.5em;
    }
    .navbar-nav{
        min-height:100vh;
    }
    .snap-container > section:nth-child(4){
        min-height: 145vh;
    }
    .index-footer{
        margin-bottom: 2.5em;
    }
    .third-feature{
        margin-top: 5em;
    }
    .need-reverse{
        display: flex;
        flex-flow: column-reverse;
    }
    .image-overlay__left{
        bottom: 0;
        height: 10%;
        width: 100%;
        position:absolute;
        z-index:100;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.9331827731092436) 0%, rgba(255,255,255,0) 100%);    
    }
    .image-overlay__right{
        bottom: 0;
        height: 10%;
        width: 100%;
        position:absolute;
        z-index:100;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.9331827731092436) 0%, rgba(255,255,255,0) 100%);    
        right: 0;
    }
}

@media (min-width: 992px) {
    .third-feature{
        margin-top: 10em;
    }
    .featured-image{
        width: 100%;
    }
    h2{
        font-size: 2.2em;
    }
    h1{
        font-size: 2.4em;
    }
    p{
        font-size: 19px;
    }
    .flex-container{
        flex-direction: row;
    }
    .captions-col{
        max-width: 700px;
    }
    .image-col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .layers{
        position: relative;
        width: 500px;
        height: 720px;
    }
    .layers img{
        position: absolute;
        transition: all ease 1200ms;
        transition-delay: 200ms;
        transform-style: preserve-3d;
    }
    .layers img:nth-child(2),.layers img:nth-child(3){
        opacity: 0;
    }
    .layers:hover img:nth-child(3){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-300px) translateY(0) translateZ(0); 
        opacity: 0.8;
    }
    .layers:hover img:nth-child(2){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(0px) translateY(0px) translateZ(0);
        opacity: 0.7;
    }
    .layers:hover img:nth-child(1){
        transform: perspective(1200px) rotateX(30deg) rotateY(20deg) rotateZ(-10deg)
        translateX(300px) translateY(0) translateZ(0);
    }
    .left-feature__desc{
        text-align: right;
    }
    .left-feature__desc, .right-feature__desc{
        padding: 0 1em;
    }
    .image-overlay__left{
        height: 100%;
        width: 10%;
        position:absolute;
        z-index:100;
        background: rgb(255,255,255);
        background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8379726890756303) 100%);
    }
    .image-overlay__right{
        height: 100%;
        width: 10%;
        position:absolute;
        z-index:100;
        background: rgb(0,0,0);
        background: linear-gradient(270deg, rgba(0,0,0,0.8911939775910365) 0%, rgba(255,255,255,0) 100%);   
        right:0;
    }
    .art-image__col{
        text-align: left;
    }
    
    .about-desc{
        margin-top: 5em !important;
    }
    .art-image__col{
        text-align: center;
    }    
}

@media (min-width: 1200px) {
    h1{
        font-size: 2.6em;
    }
}

@media (min-width: 1400px){
    h2{
        font-size: 2.6em;
    }
    h1{
        font-size: 3em;
    }
    .global-container{
        padding: 0;
    }
}
