body{
    background-color: #030303;
    color: white;
}

h1,h2,h3,h4,h5,h6,a,p,li{
    font-family: "Raleway", sans-serif;
}

a, p, li{
    font-size: 17px;
    line-height: 1.8;
    color: white;
}

img{
    width: 100%;
}

.global-container{
    max-width: 1400px;
    padding: 0 0.75em;
    margin: auto;
}

.nopadding{
    padding: 0;
}

.row{
    margin: 0;
}
.col{
    padding: 0;
}
.navbar a{
    padding-top: 0.5em;
    display: inline-block;
}

.navbar a:hover{
   transform: scale(1.1);
   padding-top: 0.5em;
}
  
.nav-link{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

footer{
    margin-top: 4em;
    padding: 1.4em;
    text-align: center;
}

.icon{
    color:rgba( 0, 122, 120 );
}

footer p{
    color: rgba( 0, 122, 120 );
}

h2{
    font-weight: 900;
    line-height: 1.4;
}
*
{box-sizing: border-box;
    margin: 0;
	padding: 0;
}

.snap-container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    scroll-snap-stop: always;
}

.snap-container > section{
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;  
    align-items: center;
    margin: 0;
	padding: 0;
}

.snap-container > section:nth-child(1){
    height: 100vh;
}

.snap-container > section:nth-child(2) p{
    color: white;
}
.snap-container > section:nth-child(4) a, 
 .snap-container > section:nth-child(4) p{
     color: #9ECBF7 !important;
    }
.snap-container > section:nth-child(3),
.snap-container > section:nth-child(3) p{
    background-color: rgba( 0, 122, 120 );
    color: #FFC745; 
}

.snap-container > section:nth-child(4){
    color: #9ECBF7;
    background-color: #1B365C;
    min-height: 120vh;
}

.index-footer{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5em;
}


/* HERO */ 

#hero{
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    margin:auto;
    overflow: hidden;
    background-color: #f0f0f0;
}
.top-container a,p{
    font-size: 14px;
}
.top-container{
    z-index: 100;
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100vw;
    height: 55vh;
    z-index: 0;
}
.h1-container{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    position: relative;
}
h1{
    width: 300px;
    color: #030303;
    font-weight: 800;
    font-size: 2.8em;
    line-height: 1.5;
    letter-spacing: 1px;
}
.description-container{
    display: flex;
    flex-direction: column;
}

.description-container2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.description-items{
    width: 225px;
    color: #030303;
    margin-left:0.25em;
}
.button-container{
    position: relative;
}
button:hover, button:focus {
    outline: none;
  }
.hero-button{
    position: absolute;
    background: transparent;
    text-decoration: none;
    border: none;
    bottom: -50px;
    left: 20px;
    transform: rotate(-30deg);
}
.hero-button img{
    border: 5px solid salmon;
    width: 87.5px;
    height: 125px;
}

.curved-p{
    color: #030303;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
}

.bottom-container{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 45vh;
    z-index: 1;
    top: 55%;
}
.hero-images{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.hero-image img, .layers{
    height: 275px;
    width: 192.5px;
}
.hero-image{
    position: absolute;
}
.first{
    transform: rotate(-25deg);
    right:45px;
    top: 20px;
    z-index: 100;
}
.second{
    transform: rotate(0deg);
    z-index: 50;
    right: -90px;
    top: -10px;
    
}
.third{
    transform: rotate(25deg);
    z-index: 10;
    top: 20px;
    left: 45px;
}
.visible{
    -webkit-transition: opacity 1500ms ease-in-out;
    -moz-transition: opacity 1500ms ease-in-out;
    -ms-transition: opacity 1500ms ease-in-out;
    -o-transition: opacity 1500ms ease-in-out;
     opacity: 1;
}

.hide{
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    opacity: 0;
}

.layers img{
    position: absolute;
    transition-delay: 0ms;
    transition: all ease 1200ms;
    transform-style: preserve-3d;
}
.layers img:nth-child(2),.layers img:nth-child(3){
    opacity: 0;
}
.animate-first{
    transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
    translateX(100px) translateY(-20px) translateZ(0);
}
.animate-second{
    transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
    translateX(25px) translateY(-30px) translateZ(0);
    opacity: 0.7 !important;
}
.animate-third{
    transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
    translateX(-50px) translateY(-40px) translateZ(0); 
    opacity: 0.8 !important;
}




/* FEATURE */
.featured-image__container{
    text-align: center;
    padding: 0;
}


.feature-description{
    margin-bottom: 1em;
}



/** GALLERY **/


.hero-gallery{
    margin-top: 4em;
}

.image-container{
    padding: 0.25em 0;
} 
.gallery-title{
    font-weight: 800;
    text-align: center;
    padding: 1em 3em;
}


/** ART WORK **/
.art-container{
    padding-top: 6em;
} 

.art-content{
    margin: auto;
    margin-top: 5em;
    max-width: 768px;
}

.explore-more{
    margin-top: 2em;
    display: inline-block;
}

.explore-more:hover{
    color:white;
    transform: scale(1.05)
}
.art-image__col{
    text-align: center;
}

/* ABOUT */

#about{
    min-height: 80vh;
}

.about-container{
    padding-top:5em;
}

.about-desc{
    max-width: 767px;
}

.typewriter{
    word-spacing: 1px;
    font-family: 'Ubuntu Mono', serif;
    position:relative;
    width: max-content;
    flex-wrap: nowrap;
}

.typewriter::before,
.typewriter::after{
    content:"";
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.typewriter::before{
    background:rgba( 0, 122, 120);
    animation: typewriting 4s steps(23) 1s forwards;
}

.typewriter::after{
    width: 0.05em;
    background-color: #FFC745;
    animation:
    typewriting 4s steps(23) 1s forwards,
    blink 800ms steps(23) infinite; 

}

@keyframes typewriting{
    to {left: 100%}
}

@keyframes blink{
    to {
        background: transparent;
    }
}

.contact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    padding: 2%;
    width: 22em;
    height: 12em;
    background: rgba( 0, 122, 120 );
    box-shadow: 0 8px 32px 0 rgba(0, 122, 120, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 6px;
}


.contact-card a{
    display: inline-block;
    color: #FFC745;
    line-height: 1.5;
    font-size: 22px;
}

.contact-card a:hover{
    text-decoration: none;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    padding: 4px;
}

@media (max-width: 400px){

    .contact-card{
    width: 18em !important;
    height: 10em !important;
    }
    .contact-card a{
        font-size: 19px !important;
    }
}

@media (min-width: 450px){
    h1{
        width: 325px;
    }
    .top-container a,p{
        font-size: 15px;
    }
}

@media (min-width: 525px){
    h1{
        width: 350px;
    }
    .top-container a,p{
        font-size: 16px;
    }
    .hero-image img, .layers{
        height: 300px;
        width: 210px;
    }
    .first{
        right:45px;
        top: 25px;
    }
    .second{
        right: -100px;
        
    }
    .third{
        top: 25px;
        left: 45px;
    }
    .animate-first{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(125px) translateY(0px) translateZ(0);
    }
    .animate-second{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(25px) translateY(-10px) translateZ(0);
        opacity: 0.7 !important;
    }
    .animate-third{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-75px) translateY(-20px) translateZ(0); 
        opacity: 0.8 !important;
    }
}


@media (min-width: 600px){
    h1{
        width: 400px;
    }
    .h1-container{
        margin-top: 2em;
    }

    .top-container a,p{
        font-size: 17px;
    }
    .description-container{
        padding-left: 3em;
        padding-right: 3em;
    }
    .hero-image img, .layers{
        height: 350px;
        width: 245px;
    }
    .first{
        right:75px;
        top: 30px;
    }
    .second{
        top: 0px;
        right: -125px;
        
    }
    .third{
        top: 30px;
        left: 75px;
    }
    .animate-first{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(150px) translateY(0px) translateZ(0);
    }
    .animate-second{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(25px) translateY(-10px) translateZ(0);
        opacity: 0.7 !important;
    }
    .animate-third{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-100px) translateY(-20px) translateZ(0); 
        opacity: 0.8 !important;
    }
}



@media (min-width: 768px){
    p{
        font-size: 18px;
    }
    .top-container{
        display: flex;
        height: 50vh;
        background-color: #f0f0f0;
        justify-content: space-between;
        align-items: center;
    }
    .h1-container{
        margin-top: 2em;
    }
    h1{
        width: 450px;
    }
    .description-container{
        padding-left: 0;
        padding-right: 0;
        flex-direction: row;
        align-items: flex-end;
    }
    .description-items{
        width: 250px;
        color: #030303;
        margin-bottom: 0;
    }
    .hero-button{
        left: 50px;
        bottom:-85px;
        transform: rotate(25deg);
    }
    .hero-button img{
        width: 140px;
        height: 210px;
    }
    .bottom-container{
        background-color: #030303;
        position: absolute;
        height: 50vh;
        z-index: 1;
        top: 50%;
    }
    .hero-image img, .layers{
        width: 280px;
        height: 400px;
    }
    .first{
        top: 75px;
    }
    .second{
        right: -140px;
        top: 45px;
    }
    .third{
        top: 75px;
    }
    .animate-first{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(225px) translateY(-20px) translateZ(0);
    }
    .animate-second{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(25px) translateY(-30px) translateZ(0);
        opacity: 0.7 !important;
    }
    .animate-third{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-175px) translateY(-40px) translateZ(0); 
        opacity: 0.8 !important;
    }
    .global-container{
        padding: 0 1.5em;
    }
    .image-container{
        padding: 0.25em;
    }
}

@media (max-width: 991px){
    .nav-link{
        font-size: 1.5em;
    }
    .navbar-nav{
        min-height:100vh;
    }
    .snap-container > section:nth-child(4){
        min-height: 145vh;
    }
    .index-footer{
        margin-bottom: 2.5em;
    }
    .third-feature{
        margin-top: 5em;
    }
    .need-reverse{
        display: flex;
        flex-flow: column-reverse;
    }
    .image-overlay__left{
        bottom: 0;
        height: 10%;
        width: 100%;
        position:absolute;
        z-index:100;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.9331827731092436) 0%, rgba(255,255,255,0) 100%);    
    }
    .image-overlay__right{
        bottom: 0;
        height: 10%;
        width: 100%;
        position:absolute;
        z-index:100;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.9331827731092436) 0%, rgba(255,255,255,0) 100%);    
        right: 0;
    }
}

@media (min-width: 992px) {
    h2{
        font-size: 2.2em;
    }
    h1{
        width: 475px;
    }
    .top-container a,p{
        font-size: 19px;
    }
    .description-items{
        width: 275px;
    }
    .hero-image img, .layers{
        height: 450px;
        width: 315px;
    }
    .first{
        right:150px;
        top: 80px;
    }
    .second{
        right: -150px;
        top: 30px;
    }
    .third{
        left: 150px;
        top: 80px;
    }
    .animate-first{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(225px) translateY(-30px) translateZ(0);
    }
    .animate-second{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(25px) translateY(-40px) translateZ(0);
        opacity: 0.7 !important;
    }
    .animate-third{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-175px) translateY(-50px) translateZ(0); 
        opacity: 0.8 !important;
    }


    .third-feature{
        margin-top: 10em;
    }
    .featured-image{
        width: 100%;
    }
    .flex-container{
        flex-direction: row;
    }

    .left-feature__desc{
        text-align: right;
    }
    .left-feature__desc, .right-feature__desc{
        padding: 0 1em;
    }
    .image-overlay__left{
        height: 100%;
        width: 10%;
        position:absolute;
        z-index:100;
        background: rgb(255,255,255);
        background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8379726890756303) 100%);
    }
    .image-overlay__right{
        height: 100%;
        width: 10%;
        position:absolute;
        z-index:100;
        background: rgb(0,0,0);
        background: linear-gradient(270deg, rgba(0,0,0,0.8911939775910365) 0%, rgba(255,255,255,0) 100%);   
        right:0;
    }
    .art-image__col{
        text-align: left;
    }
    
    .about-desc{
        margin-top: 5em !important;
    }
    .art-image__col{
        text-align: center;
    }    
}

@media (min-width: 1100px) {
    p{
        font-size: 19px;
    }
    h2{
        font-size: 2.4em;
    }
    h1{
        width: 500px;
    }
    .h1-container{
        margin-top: 1em;
    }
    .description-items{
        width: 300px;
    }
    .hero-image img, .layers{
        height: 475px;
        width: 332.5px;
    }
    .first{
        right:160px;
        top: 70px;
    }
    .second{
        right: -170px;
        top: 25px;
    }
    .third{
        left: 160px;
        top: 70px;
    }
    .animate-first{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(275px) translateY(-60px) translateZ(0);
    }
    .animate-second{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(75px) translateY(-70px) translateZ(0);
        opacity: 0.7 !important;
    }
    .animate-third{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-125px) translateY(-80px) translateZ(0); 
        opacity: 0.8 !important;
    }
}

@media (min-width: 1400px){
    p{
        font-size: 20px;
    }
    h2{
        font-size: 2.6em;
    }
    h1{
        width: 550px;
    }
    .description-items{
        width: 325px;
    }
    .hero-image img, .layers{
        height: 500px;
        width: 350px;
    }
    .first{
        right:160px;
        top: 80px;
    }
    .second{
        right: -170px;
        top: 30px;
    }
    .third{
        left: 160px;
        top: 80px;
    }
    .animate-first{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(350px) translateY(-40px) translateZ(0);
    }
    .animate-second{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(100px) translateY(-50px) translateZ(0);
        opacity: 0.7 !important;
    }
    .animate-third{
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) rotateZ(-10deg)
        translateX(-150px) translateY(-60px) translateZ(0); 
        opacity: 0.8 !important;
    }
    .about-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .global-container{
        padding: 0;
    }
}
