---
layout: base.njk
title: "Rebels Art - About author and content"
---

<header class="poster-navigation">
    <a href="/">Home</a>
    <a href="/gallery">Gallery</a>
</header>
<section class="poster">
<h1>Artist and Work</h1>
<p>The Artwork is expressed in words and reinforced with corresponding images to give a clear
    political message.
    <br><br>
    Hans Belting proposed that we should think beyond the western model in art: not only to expand
    this model using experience elsewhere but to even approach art from the perspective of a
    multitude of models. And according to Arthur C. Danto, we should use painting as a means for
    self-expression. 
    <br><br>
    I have seen, through my extensive journey to many parts of the world at an early age, the divide
    between the world of the have and have not. It became clear to me, after making a lot of
    questioning and reading, the roots of these problems are political. <br> <br>
    It comes to me naturally to express myself politically in art. The biggest task was to express
    the political issue explicitly and in my own style. The individual painting is made up of words of a
    political statement. The words are segmented and filled with colors to create the corresponding image. The
    image and the words reinforce each other to give the message I want in the painting.
    <br><br>
</p>
</section>
{% include "footer.njk" %}