---
layout: base.njk
title: "About"
---

<section id="about">
    <div class="global-container">
        <div class="about-container">

                <div class="row contact-row">
                    <div class="col">
                        <div id="contactCard" class="contact-card">
                                        <div class="typewriter-container">

                            <a class="typewriter" href="https://instagram.com" target="_blank" rel="noopener noreferrer">Rebel Art on Instagram.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row about-desc">
                    <div class="col left-about__col about__col feature-col">
                        <h2>Artist and Work</h2>
                        <p>The Artwork is expressed in words and reinforced with corresponding images to give a clear political message.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  {%include 'footer.njk' %}

