---
layout: base.njk
title: "About"
---

<section id="about">
    <div class="global-container">
        <div class="about-container">

                <div class="row about-desc">
                    <div class="col-xl-8 left-about__col about__col feature-col">
                        <h2>Lorem ipsum dolor sit amet</h2>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="row contact-row">
                    <div class="col-xl-8 contact-us">
                        <h5 >Feel free to contact us.</h5>
                        <div id="contactCard" class="contact-card">
                                        <div class="typewriter-container">

                            <a class="typewriter" href="https://instagram.com" target="_blank" rel="noopener noreferrer">Rebel Art on Instagram.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
            {% include 'footer.njk' %}

