---
layout: 'base.njk'
title: Gallery
---


<div class="container-layout">
    <div class="hero-gallery">
    <div class="container-fluid">
            <div class="row align-items-center" data-masonry='{"percentPosition": true }' >
        {%- for post in collections.post | reverse-%}
                        <div class="col-sm-12 col-md-6 col-lg-4 image-container">
                            <a class="image-link" href="{{ post.url }}">
                          <img class="gallery-image" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                            </a>
                        </div>
        {%- endfor -%}
            </div>
        </div>
    </div>
    <script>
        window.addEventListener("load", function(){

            var script = document.createElement('script');
            script.src = 'https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js';
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(script);
        });
    </script>   

</div>