---
layout: base.njk
title: Gallery
---


<section id="gallery">
    <div class="hero-gallery">
        </div>
    <div class="container">
        {%- for post in collections.post | reverse-%}
            <li>
                <h3>{{ post.data.title }}</h3>
                <p>{{ post.data.description}}</p>
                <a href="{{ post.url }}" class="btn btn-light btn--primary">Weiterlesen</a>
                </li>
        {%- endfor -%}
        </div>
</section>