---
layout: base.njk
title: "Gallery"
metatitle: ""
description: ""
ogtitle: ""
ogdescription: ""
ogurl: ""
canonical: ""
style: "/css/gallery.css"
---
<div data-scroll-container>
  <div class="wrapper" data-scroll-section>
    <section data-scroll-section>
      <h1 data-scroll data-scroll-speed="1">Art<br> Gallery</h1>
    </section>
    <section data-scroll-section>
      <a href="/gallery/politics">
        <img src="/assets/politics/lookhereTS_tablet.webp" alt="Political Gallery">
        <div>
          <h2 data-scroll data-scroll-speed="1">Talk Politics</h2>
          <p data-scroll data-scroll-speed="-1">political knowledge integrated into art</p>
        </div>
      </a>
    </section>
    <section data-scroll-section>
      <a href="/gallery/more">
        <img src="/assets/random2/wtptmno1_tablet.webp" alt="Random Gallery">
        <div>
          <h2 data-scroll data-scroll-speed="1">Random Topics</h2>
          <p data-scroll data-scroll-speed="1">😬</p>
        </div>
      </a>
    </section>
    <section data-scroll-section>
      <a href="/gallery/musicians">
        <img src="/assets/musicians/Cellist.webp" alt="Musicians Gallery">
        <div>
          <h2 data-scroll data-scroll-speed="1">Music</h2>
          <p data-scroll data-scroll-speed="1">makes me lose control. Let's Go!</p>
        </div>
      </a>
    </section>
    <section data-scroll-section>
      <a href="/gallery/random">
        <img src="/assets/random/m4_tablet.webp" alt="Random Gallery">
        <div>
          <h2 data-scroll data-scroll-speed="1">Another Random Topic</h2>
          <p data-scroll data-scroll-speed="1">Here</p>
        </div>
      </a>
    </section>
    <section data-scroll-section>
      <a href="/">
        <img src="/assets/random2/ulno1_tablet.webp" alt="Other Gallery">
        <div>
          <h2>Back Home</h2>
        </div>
      </a>
    </section>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
<script>
  window.addEventListener("load", function () {
    const scroll = new LocomotiveScroll({
      el: document.querySelector('[data-scroll-container]'),
      smooth: true,
      direction: 'horizontal',
      lerp: 0.025,
      tablet: {
        smooth: true,
        direction: 'horizontal',
      },
      mobile: {
        smooth: false
      }
    });
  });

</script>