---
layout: base.njk
title: Home
---
<section id="welcome">
        <div class="welcome-hero"></div>
  </section>
<section id="introduction">
  <div class="column-md container-feature first-feature">
    <div class="row align-items-center">
      <div class="col-md-4 feature-description first-feature-desc">
        <h2> This is the first feature of this website</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate sapien quis erat sagittis tristique. 
            Proin et gravida nibh. Sed nec ornare risus. Quisque et ligula eget urna dignissim tincidunt eget vulputate sapien.
            </p>
       </div>
      <div class="col-md-8">
          <img class="featured-image" src="/assets/images/olympic.jpg" alt="Lorem">
        </div> 
      </div>
    </div>
      <div class="column-md container-feature second-feature">
    <div class="row align-items-center">
      <div class="col-md-8 ">
        <img class="featured-image" src="/assets/images/olympic.jpg" alt="Lorem">
        </div> 
      <div class="col-md-4 feature-description second-feature-desc">
        <h2> This is the first feature of this website</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate sapien quis erat sagittis tristique. 
            Proin et gravida nibh. Sed nec ornare risus. Quisque et ligula eget urna dignissim tincidunt eget vulputate sapien.
            </p>
       </div>
      </div>
    </div>
      <div class="column-md container-feature">
    <div class="row align-items-center">
      <div class="col-md-4 feature-description third-feature-desc">
        <h2> This is the first feature of this website</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate sapien quis erat sagittis tristique. 
            Proin et gravida nibh. Sed nec ornare risus. Quisque et ligula eget urna dignissim tincidunt eget vulputate sapien.
            </p>
       </div>
      <div class="col-md-8">
          <img class="featured-image" src="/assets/images/olympic.jpg" alt="Lorem">
        </div> 
      </div>
    </div>
  </section>
  </div>