---
layout: base.njk
metatitle: "Rebelart"
description: ""
ogtitle: ""
ogdescription: ""
ogurl: ""
canonical: ""
style: "/css/masonry.css"
---

<section class="hero">
        <div class="hero-row">
                <div class="hero-img-wrap">
                        <img class="hero-img" src="/assets/images/ulno1.jpg" alt="">
                        <div class="hero-img-overlay"></div>
                </div>
                <div class="hero-links">
                        <h1>Rebel <br>
                                Arts</h1>
                        <div class="h1-wrapper">
                                <div class="h-line-wrap a1">
                                        <a href="/gallery">gallery</a>
                                        <div class="hero-line a1-line"></div>
                                </div>
                                <div class="h-line-wrap a2">
                                        <a href="/poster">poster</a>
                                        <div class="hero-line a2-line"></div>
                                </div>
                                <div class="h-line-wrap a3">
                                        <a href="/about">about</a>
                                        <div class="hero-line a3-line"></div>
                                </div>
                                <div class="flair"></div>
                        </div>
                </div>
        </div>
        <div class="copyright">
                <p>
                        Copyright Rebel Arts 2024
                </p>
                <div>
                        <a class="legal-a" href="/legal">Legal</a>
                        <a href="/imprint">Imprint</a>
                </div>
        </div>
</section>
<script>
        window.addEventListener("load", function () {
                if (window.innerWidth >= 1024) {

                        const flair = document.querySelector(".flair");
                        gsap.set(".flair", { xPercent: 1, yPercent: -1 });
                        let xSetter = gsap.quickSetter(".flair", "x", "px") //apply it to the #id element's x property and append a "px" unit
                        let ySetter = gsap.quickSetter(".flair", "y", "px") //apply it to the #id element's x property and append a "px" unit
                        const width = window.innerWidth;
                        const height = window.innerHeight;
                        const herowrap = document.querySelector(".hero-img-wrap");
                        // document.querySelector("body").addEventListener("mousemove", (e) => {
                        // })
                        document.querySelector("body").addEventListener("mousemove", e => {
                                let x = e.clientX * 0.01;
                                let y = e.clientY * 0.01;
                                herowrap.style.transform = "translate(" + x + "px," + y + "px)";
                        });
                        document.querySelector(".h1-wrapper").addEventListener("mousemove", e => {
                                flair.classList.add("show");
                                xSetter(e.x)
                                ySetter(e.y)
                                document.querySelector(".a1").addEventListener("mouseenter", e => {
                                        flair.style.backgroundImage = "url(/assets/politics/türki_mobile.webp)"
                                })
                                document.querySelector(".a2").addEventListener("mouseenter", () => {
                                        flair.style.backgroundImage = "url(/assets/random2/wtptmno1_mobile.webp)"
                                })
                                document.querySelector(".a3").addEventListener("mouseover", () => {
                                        flair.style.backgroundImage = "url(/assets/politics/globalplayer_mobile.webp)"

                                })
                        });
                        document.querySelector(".h1-wrapper").addEventListener("mouseleave", e => {
                                document.querySelector(".flair").classList.remove("show");
                        });
                }
        });
</script>