---
layout: base.njk
metatitle: "Karatronics - Ihr Personalmanagement in Frankfurt"
description: "Entdecken Sie maßgeschneiderte Personallösungen, effiziente Rekrutierung und gezielte Personalbeschaffung
mit unserem erfahrenen Team."
ogtitle: "Karatronics - Ihr Personalmanagement in Frankfurt"
ogdescription: "Karatronics - Ihr Personalmanagement in Frankfurt / Umgebung"
ogurl: "https://karatronics.de"
canonical: "https://karatronics.de"
oglocale: "de_DE"
style: "/css/masonry.css"
mobile: "mobile"
tablet: "tablet"
---

<section class="hero">
    <div class="hero-inner">
        <h1>Rebel Art</h1>
        <img class="loteos" src="/assets/loteosno1_tablet.webp" alt="">
    </div>
</section>