---
layout: base.njk
title: "Rebels Art - Legal Notice"
---
  <section class="notices">
      <div class="global-container">
        <h2>Legal Notice</h2>

        <h3>Information according to &sect; 5 TMG</h3>
        <h3>Responsible of Website</h3>
        <p>Ilya Schmitt<br />
        Zum Appthekerhof 9<br />
        60594 Frankfurt</p>

        <h3>Contact</h3>
        <p>Mobile: +491777397734<br />
        Email: siaparebelart@gmail.com </p>

        <h3>Editorial responsibility</h3>
        <p>Rahim Aziz<br />
        Zum Apothekerhof 9<br />
        60594 Frankfurt <br>
        Email: siaparebelart@gmail.com 
        </p>
     </div>
  </section>
{%include 'footer.njk' %}