---
layout: base.njk
title: "Rebels Art - Privacy Policy"
---
  <section class="notices">
      <div class="global-container">
        <div>
          <h2>Privacy Policy</h2>
        <p>This privacy policy was translated from german to english. If you have any questions, feel free to contact me.</p>
        </div>
      <div>
          <div>
           <h2>Cookie Preferences</h2>
            <button class="btn btn-light mb-3" type="button" data-cc="c-settings">Cookie preferences</button>
          </div>
          <h2>Responsible for this website</h2>
          <p>Ilya Schmitt <br>
            Zum Apothekerhof 9 <br>
            Frankfurt, Germany <br>
          <a href="mailto:siaparebelart@gmail.com">Email: siaparebelart@gmail.com</a>
            </p>
      </div>
      <div>
          <h2>General information</h2>
            <p>The following notices provide a simple overview of what happens to your personal data
        when you visit this website. Personal data is any data that can be used to personally identify you.
        can be personally identified. For detailed information on the subject of data protection
        our privacy policy listed below this text.</p>
          </div>
      <div>
          <h2>Data collection on this website</h2>
          <p>Data processing on this website is carried out by the website operator. You can find his contact details
            can be found in the section "Information on the responsible party" in this data privacy statement.
            in this data protection declaration.</p>
          <h3>How do we collect your data?</h3>
          <p>On the one hand, your data is collected when you provide it to us. This can be for example
            data that you enter in a contact form.</p>
        <p>Other data is collected automatically or after your consent when visiting the website by our IT systems. This is primarily technical data (e.g. Internet browser, operating system or time of
            of the page view). The collection of this data takes place automatically as soon as you enter this website.</p>
        <h3>
            What do we use your data for?
        </h3>
        <p>Part of the data is collected to ensure error-free provision of the website. Other data may be used to analyze your user behavior.</p>
      </div>
      <div>
          <h3>What rights do you have regarding your data?</h3>
          <p>You have the right at any time to receive information free of charge about the origin, recipient and purpose of your
                stored personal data. You also have a right to demand the correction or
                deletion of this data. If you have given your consent to data processing,
                you can revoke this consent at any time for the future. You also have the right, under
                certain circumstances, to request the restriction of the processing of your personal data.</p>
                <p>Furthermore, you have the right to lodge a complaint with the competent supervisory authority.</p>
                <p>Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden.</p>
      </div>
      <h2>Third-party analytics and tools</h2>
      <p>When visiting this website, your surfing behavior may be statistically analyzed. This is done mainly
        mainly with so-called analysis programs.</p>
        <p>Detailed information on these analysis programs can be found in the following
            privacy policy.</p>
                  <div>
                      <h3>Analytics</h3>
                      <div>
                          <p>The services contained in this section enable the Owner to monitor and analyse web traffic and can be used to keep track of User behaviour.</p>
                          <h4>Google Analytics (Google Ireland Limited)</h4>
                          <div>
                              <p>Google Analytics is a web analysis service provided by Google Ireland Limited (&ldquo;Google&rdquo;). Google utilises the Data collected to track and examine the use of this Application, to prepare reports on its activities and share them with other Google services.<br>Google may use the Data collected to contextualise and personalise the ads of its own advertising network.</p>
                          </div>
                          <p>Personal Data processed: Tracker; Usage Data.</p>
                          <p>Place of processing: Ireland &ndash;&nbsp;<a href="https://policies.google.com/privacy" rel="noopener noreferrer" target="_blank">Privacy Policy</a> &ndash;&nbsp;<a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">Opt Out</a>.</p>
                          <p>Category of personal information collected according to CCPA: internet information.</p>
                          <p>This processing constitutes a sale based on the definition under the CCPA. In addition to the information in this clause, the User can find information regarding how to opt out of the sale in the section detailing the rights of Californian consumers.</p>
                      </div>
                  </div>
      <div>
          <h2>Hosting</h2>
          <h3>External hosting</h3>
          <p>This website is hosted by an external service provider (hoster). The personal data that
            collected on this website is stored on the hoster's servers. This can be IP addresses, contact requests, meta and communication data, contract data, contact data,
            names, website accesses and other data generated via a website.</p>
          <p>The hoster is used for the purpose of fulfilling the contract with our potential and existing customers.
            existing customers (Art. 6 para. 1 lit. b gdpr) and in the interest of a secure, fast and efficient provision of our online offer by a professional provider (Art. 6 para. 1 lit. f gdpr).
            provision of our online offer by a professional provider (Art. 6 para. 1 lit. f gdpr).
            Insofar as a corresponding consent has been requested, the processing is carried out exclusively on the
            basis of Art. 6 para. 1 lit. a gdpr and § 25 para. 1 TTDSG, insofar as the consent allows the storage of
            of cookies or access to information in the user's terminal device (e.g. device fingerprinting) in the
            within the meaning of the TTDSG. The consent can be revoked at any time.</p>
            <p>
            Our hoster will process your data only insofar as this is necessary for the fulfillment of its service obligations
            and follow our instructions regarding this data.
            </p>
            <p>We use the following hoster:</p>
            <p>Netlify, Inc.</p>
            <p>44 Montgomery Street, Suite 300</p>
            <p>San Francisco, California 94104, USA</p>
          <div>
              <h2>
                  General notes and mandatory information
              </h2>
              <h3>Data privacy</h3>
              <p>The operators of these pages take the protection of your personal data very seriously. We treat your
                      personal data confidentially and in accordance with the legal data protection regulations as well as
                      this privacy policy.</p>
                      <p>When you use this website, various personal data are collected.
                        Personal data is data with which you can be personally identified. This
                        Privacy Policy explains what data we collect and what we use it for. It also explains how
                        and for what purpose this is done.</p>
                <p>We would like to point out that data transmission over the Internet (e.g. communication by e-mail)
                can have security gaps. Complete protection of data against access by third parties is not possible.</p>
                <br>
                <h3>Storage duration</h3>
                <p>Unless a more specific storage period has been specified within this privacy policy, your personal data will remain with us
                your personal data with us until the purpose for the data processing ceases to apply. If you assert a
                legitimate request for deletion or revoke consent for data processing,
                your data will be deleted, unless we have other legally permissible reasons for storing your
                personal data (e.g. retention periods under tax law or commercial law); in the
                the latter case, the data will be deleted after these reasons cease to apply.</p>
                <br>
                <h3>General information on the legal basis for data processing on this website</h3>
                <p>If you have consented to data processing, we process your personal data on the following basis
                basis of Art. 6 para. 1 lit. a gdpr or Art. 9 para. 2 lit. a gdpr, insofar as special categories of data
                are processed according to Art. 9 (1) gdpr. In the event of express consent to the transfer of
                personal data to third countries, the data processing is also carried out on the basis of Art.
                49 para. 1 lit. a gdpr. If you consent to the storage of cookies or to the access to information in
                your terminal device (e.g. via device fingerprinting), the data processing is also carried out on the basis of
                on the basis of § 25 para. 1 TTDSG. The consent can be revoked at any time. If your data is required for
                fulfillment of the contract or for the performance of pre-contractual measures, we process your
                data on the basis of Art. 6 para. 1 lit. b gdpr. Furthermore, we process your data insofar as these are
                are necessary for the fulfillment of a legal obligation on the basis of Art. 6 para. 1 lit. c gdpr.
                Furthermore, the data processing may be based on our legitimate interest according to Art. 6 para. 1 lit. f
                gdpr. Information about the relevant legal basis in each individual case is provided in the following
                paragraphs of this privacy policy.</p>
                <br>
                <h3>
                    Revocation of your consent to data processing
                </h3>
                      <p>Many data processing operations are only possible with your express consent. You can revoke
                        already given consent at any time. The legality of the data processing carried out until the revocation
                        data processing remains unaffected by the revocation.</p>
                      <br>
                <h3>Right to object to the collection of data in special cases as well as to
                Direct advertising (Art. 21 gdpr)</h3>
                <p>IF THE DATA PROCESSING IS CARRIED OUT ON THE BASIS OF ART. 6 ABS. 1 LIT. E OR F OF THE GDPR
                YOU HAVE THE RIGHT TO WITHDRAW YOUR CONSENT AT ANY TIME ON GROUNDS RELATING TO YOUR PARTICULAR CIRCUMSTANCES.
                SITUATION, TO OBJECT TO THE PROCESSING OF YOUR PERSONAL DATA; THIS SHALL ALSO APPLY TO A
                THIS ALSO APPLIES TO A PROFILING BASED ON THESE PROVISIONS.
                PROFILING. THE RESPECTIVE LEGAL BASIS ON WHICH PROCESSING IS BASED,
                PLEASE REFER TO THIS PRIVACY POLICY. IF YOU OBJECT,
                WE WILL NO LONGER PROCESS YOUR PERSONAL DATA UNLESS WE CAN DEMONSTRATE COMPELLING
                UNLESS WE CAN DEMONSTRATE COMPELLING LEGITIMATE GROUNDS FOR THE PROCESSING THAT
                WHICH OUTWEIGH YOUR INTERESTS, RIGHTS AND FREEDOMS, OR THE PROCESSING SERVES THE ASSERTION
                PROCESSING IS FOR THE PURPOSE OF ASSERTING, EXERCISING OR DEFENDING
                LEGAL CLAIMS (OBJECTION ACCORDING TO ART. 21 PARA. 1 gdpr).
                IF YOUR PERSONAL DATA ARE PROCESSED FOR THE PURPOSE OF DIRECT MARKETING,
                YOU HAVE THE RIGHT TO OBJECT AT ANY TIME TO THE PROCESSING OF YOUR PERSONAL DATA FOR THE PURPOSE OF DIRECT MARKETING.
                PERSONAL DATA FOR THE PURPOSE OF SUCH ADVERTISING; THIS SHALL ALSO APPLY TO THE
                THIS ALSO APPLIES TO PROFILING, INSOFAR AS IT IS CONNECTED WITH SUCH DIRECT ADVERTISING.
                IN CONNECTION WITH SUCH DIRECT ADVERTISING. IF YOU OBJECT, YOUR PERSONAL DATA WILL SUBSEQUENTLY NO LONGER BE
                WILL SUBSEQUENTLY NO LONGER BE USED FOR THE PURPOSE OF DIRECT MARKETING (OBJECTION
                ACCORDING TO ART. 21 ABS. 2 DSGV).</p>
                <br>
                      <h3>Right of appeal to the competent supervisory authority</h3>
                      <p>In the event of violations of the GDPR, the data subjects shall have a right of appeal to a
                      supervisory authority, in particular in the Member State of their habitual residence, their place of work
                      or the place of the alleged infringement. The right of appeal exists without prejudice to other
                      administrative or judicial remedies.</p>
                      <br>
                      <h3>Right to data portability</h3>
                      <p>You have the right to have data that we process automatically on the basis of your consent or in performance of a contract
                        automated processing, to yourself or to a third party in a common, machine-readable format.
                        to be handed over. If you request the direct transfer of the data to another person responsible
                        this will only be done insofar as it is technically feasible.</p>
                      <br>
                      <h3>SSL or TLS encryption</h3>
                      <p>This site uses SSL or TLS encryption for security reasons and to protect the transmission of confidential content, such as
                        For example, orders or requests that you send to us as the site operator, SSL or TLS encryption. You can recognize an encrypted connection by the fact that the address line of the browser changes from
                        "http://" to "https://" and by the lock symbol in your browser line.</p>
      
                      <p>If SSL or TLS encryption is activated, the data you transmit to us cannot be read by third parties.
                      be read by third parties.</p>
      
                      <br>
                      <h3>Information, deletion and correction</h3>
                      <p>Within the scope of the applicable legal provisions, you have the right at any time to free of charge
                        information about your stored personal data, their origin and recipient and the
                        purpose of the data processing and, if applicable, a right to correction or deletion of this data. For this as well as
                        other questions on the subject of personal data, you can contact us at any time.</p>
                      <br>
                      <h3>Right to restriction of processing</h3>
                      <p>You have the right to request the restriction of the processing of your personal data.
                      For this purpose, you can contact us at any time. The right to restriction of processing exists in
                      following cases:</p>
                <br>
                <ul>
                    <li>
                      If you dispute the accuracy of the personal data we have stored about you, we generally need
                        usually need time to check this. For the duration of the review, you have the right to request the
                        restriction of the processing of your personal data.
                    </li>
                    <li>
                        If the processing of your personal data was/is unlawful, you may
                        request the restriction of data processing instead of deletion.
                    </li>
                    <li>
                        If we no longer need your personal data, but you need it to exercise,
                        defense or assertion of legal claims, you have the right, instead of the
                        request the restriction of the processing of your personal data instead of deletion.
                    </li>
                    <li>
                        If you have lodged an objection pursuant to Art. 21 (1) gdpr, a balancing must be made between
                        your interests and ours. As long as it has not yet been determined whose interests are
                        prevail, you have the right to request the restriction of the processing of your personal data.
                        to demand.
                    </li>
                </ul>
                    <p>
                        If you have restricted the processing of your personal data, this data - apart from its
                        only with your consent or for the assertion, exercise or defense of legal claims or for the protection
                        defense of legal claims or for the protection of the rights of another natural or
                        legal person or for reasons of important public interest of the European Union or a
                        of a Member State are processed.
                    </p>
          </div>
          
          <div>
              <h2>Data collection on this website</h2>
              <h3>Cookies</h3>
              <p>Our Internet pages use so-called "cookies". Cookies are small text files and do not cause
                do no harm to your terminal device. They are stored either temporarily for the duration of one session
                (session cookies) or permanently (permanent cookies) stored on your end device. Session cookies
                are automatically deleted at the end of your visit. Permanent cookies remain stored on your terminal
                until you delete them yourself or until they are automatically deleted by your web browser.</p>
                <p>In some cases, cookies from third-party companies may also be stored on your end device when you enter
                enter our site (third-party cookies). These enable us or you to use certain services
                services of the third-party company (e.g. cookies for processing payment services).</p>
                <p>
                Cookies have various functions. Many cookies are technically necessary, since certain
                website functions would not work without them (e.g. the shopping cart function or the display of videos).
                of videos). Other cookies are used to evaluate user behavior or display advertising.   
                </p>
                <p>
                Cookies that are required to carry out the electronic communication process, to provide
                functions that you have requested (e.g. for the shopping cart function) or for optimizing the
                website (e.g. cookies to measure the web audience) are required (necessary cookies), are stored on the basis of Art.
                basis of Art. 6 para. 1 lit. f gdpr, unless another legal basis is specified.
                The website operator has a legitimate interest in the storage of necessary cookies for the
                technically error-free and optimized provision of its services. Insofar as consent to the
                storage of cookies and comparable recognition technologies has been requested, the
                exclusively on the basis of this consent (Art. 6 para. 1 lit. a gdpr and § 25 para. 1
                TTDSG); the consent can be revoked at any time.
                </p>
                <p>You can set your browser to inform you when cookies are set and to
                allow cookies only in individual cases, exclude the acceptance of cookies for certain cases or generally
                as well as activate the automatic deletion of cookies when closing the browser. With the
                If you deactivate cookies, the functionality of this website may be limited.</p>
                <p>If cookies are used by third-party companies or for analysis purposes, we will inform you of this separately within the scope of this data protection declaration.
                separately within the framework of this data protection declaration and, if necessary, request your consent.</p>
          </div>
          <div>
                <h2>
                    Plugins and tools
                </h2>
                <h3>
                    Google Web Fonts (local hosting)
                </h3>
                <p>
                    This site uses so-called web fonts for the uniform display of fonts, which are provided by Google
                    provided by Google. The Google Fonts are installed locally. A connection to Google servers does not take place.
                    does not take place.
                </p>
                <p>For more information about Google Web Fonts, please visit.
                   <a target="_blank" rel="noopener noreferrer" href="https://developers.google.com/fonts/faq">https://developers.google.com/fonts/faq</a> and in Google's privacy policy:
                   <a target="_blank" rel="noopener noreferrer" href="https://policies.google.com/privacy?hl=de">https://policies.google.com/privacy?hl=de</a>.</p>
          </div>
          
          
        <p>Source: <a target="_blank" rel="noopener noreferrer" href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
          <p>Latest update: 02. April 2022</p>
      </div>
    </div>
    </section>
    {%include 'footer.njk' %}